{% extends 'index.html' %}

{% block content %}
<style>
    h1 {
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    p {
        font-size: 1.2em;
        color: red;
        margin-bottom: 1em;
    }

    a {
        font-weight: bold;
        display: inline-block;
        text-decoration: none;
        color: #333;
        border: 1px solid #333;
        padding: 10px 20px;
        border-radius: 3px;
        background-color: #fff;
        transition: all 0.3s;
        cursor: pointer;
    }

    a:hover {
        background-color: #333;
        color: #fff;
    }
</style>
<h1>Error</h1>
<p>{{ message }}</p>
<a href="{{ url_for('index') }}">Back to search</a>
{% endblock %}